@use 'utils';

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  background: transparent;
  border: none;
  font-size: inherit;
  text-decoration: none;
}
