@mixin font($size, $weight, $line) {
  font-family: Inter;
  font-style: normal;

  font-size: $size;
  font-weight: $weight;
  line-height: $line;
}

@mixin flex($direction, $align, $justify) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
  justify-content: $justify;
}
